.SocialSlidepage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.servicesarea {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 60px;
  font-size: 10px;
}

.socialmedia {
  width: 80%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.socialmedia a {
  width: 90%;
  border-bottom: 1px dotted var(--border-color);
}

.privacyarea {
  width: 60%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .servicesarea {
    width: 100%;
  }

  .socialmedia {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
  }

  .privacyarea {
    width: 80%;
  }
}